{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div id="login">
        <h1>Login</h1>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
        <form id="login-form" action="/login" method="post">
            <input type="text" autocomplete="off" name="username" placeholder="Username">
            <input type="password" autocomplete="off" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}